<% provide :title, t("static_pages.home.title") %>
<h1><%= t("static_pages.home.title") %></h1>
<p><%= t("static_pages.home.tutorial_rails") %></p>
<div class="center jumbotron">
  <%= link_to t(".sign_up_now"), "#", class: "btn btn-lg btn-primary" %>
</div>
