<footer>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".help"), help_path %></li>
      <li><%= link_to t(".new"), Settings.rails_host.new %></li>
    </ul>
  </nav>
</footer>
