<footer>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".help"), help_path %></li>
      <li><%= link_to t(".ruby_on_rails"), Settings.rails_host.ruby_on_rails %></li>
    </ul>
  </nav>
</footer>
